<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Pokémon stats</title>
</head>
<body>
  <h1>Pokémon stats</h1>
  <ul>
     <% pokemons.forEach(pokemon => { %>
     <!-- better looking pokemon sprite if needed
     <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= pokemon.id %>.png" alt="<%= pokemon.name %>" style="height: 100px;">
     -->
     <img src='<%= pokemon.official_image_url %>' alt="<%= pokemon.name %> image" style="height: 100px;">
     <li><%= pokemon.id %> => <%= pokemon.name %>, <%= pokemon.types %></li>
     <% }) %>
  </ul>
</body>
</html>
